@using CachingExample.ApplicationCore.Models
@using CachingExample.Web.Filters
@model IEnumerable<WeatherForecast>

@{
    ViewData["Title"] = "Home Page";
}

@if (Context.Response.Headers.TryGetValue(RequestDurationFilter.RequestDurationHeader, out var duration))
{
    <h4>Response time: @duration ms</h4>
}

<div>
    <table>
        <tr>
            <th>Date</th>
            <th>Temperature (F)</th>
            <th>Summary</th>
        </tr>
        @{ RenderTableData(); }
    </table>
</div>

@{
    void RenderTableData()
    {
        var orderedResults = Model.OrderByDescending(x => x.DateTime);

        foreach (var forecast in orderedResults)
        {
            <tr>
                <td>@forecast.DateTime.ToString("yyyy-MM-dd")</td>
                <td>@forecast.Temperature</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    }
}